@charset "UTF-8";
@font-face {
  font-family: Head;
  font-weight: 100;
  src: local(※), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/wayfarer-regular-webfont.woff) format("woff");
}
*{
  margin:0;
  padding:0
}
body {
  width: 100vw;
  height: 100vh;
  margin:0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #16A085;
  font-family: "Quicksand", sans-serif;
  color: #666;
  overflow: hidden;
  background: #E0EAFC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E0EAFC, #CFDEF3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(top, #E0EAFC, #CFDEF3);
  background: linear-gradient(to bottom, #E0EAFC, #CFDEF3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body .wrapper {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  margin-top: 20%;
  -webkit-perspective: 800px;
          perspective: 800px;
}
body .wrapper .container {
  display: block;
  width: 100%;
  height: 218px;
  background: #fff;
  position: absolute;
  bottom: 5px;
  z-index: 0;
  border-radius: 10px;
}
body .wrapper .container .topfold {
  width: 0;
  height: 0;
  position: relative;
  z-index: 2;
  margin-top: -2px;
  border-style: solid;
  border-width: 160px 200px 0 200px;
  border-color: #87CEFA transparent transparent transparent;
}
body .wrapper .container .letter {
  position: absolute;
  width: calc(100% - 10px);
  height: 100px;
  bottom: 5px;
  left: 5px;
  z-index: 3;
  background: #ffffff;
  border-top: 1px solid ffffff;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body .wrapper .container .letter form {
  position: absolute;
  width: auto;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
body .wrapper .container .letter form input[type="text"] {
  font-size: 1.2em;
  padding: 5px;
  border: 0px solid;
  background: transparent;
  border-bottom: 5px solid #FFB6C1;
}
body .wrapper .container .letter form input[type="text"]:focus {
  -webkit-outline: none;
  outline: none;
  border-bottom: 5px solid #87CEFA;
}
body .wrapper .container .letter form .submitwrap {
  display: table;
  padding: 5px;
  margin: 15px auto 0px;
  background: #87CEFA;
}
body .wrapper .container .letter form .submitwrap:hover {
  background: -webkit-repeating-linear-gradient(45deg, #FFB6C1, #FFB6C1 5px, #ffffff 5px, #ffffff 10px, #87CEFA 10px, #87CEFA 15px, #ffffff 15px, #ffffff 15px);
  background: repeating-linear-gradient(45deg, #FFB6C1, #FFB6C1 5px, #ffffff 5px, #ffffff 10px, #87CEFA 10px, #87CEFA 15px, #ffffff 15px, #ffffff 15px);
  -webkit-animation: animatedBackground 40s linear infinite;
          animation: animatedBackground 40s linear infinite;
}
body .wrapper .container .letter form .submitwrap:hover input {
  color: #FFB6C1;
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
body .wrapper .container .letter form input[type="submit"] {
  color: #87CEFA;
  background: #fff;
  font-family: head;
  border: 0px solid;
  padding: 5px 10px;
  font-size: 1.2em;
  display: block;
  margin: 0px auto 0;
}
body .wrapper .container .letter:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: -webkit-repeating-linear-gradient(45deg, #FFB6C1, #FFB6C1 5px, #ffffff 5px, #ffffff 10px, #87CEFA 10px, #87CEFA 15px, #ffffff 15px, #ffffff 15px);
  background: repeating-linear-gradient(45deg, #FFB6C1, #FFB6C1 5px, #ffffff 5px, #ffffff 10px, #87CEFA 10px, #87CEFA 15px, #ffffff 15px, #ffffff 15px);
}
body .wrapper .container .letter .upper {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: -100%;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  left: 0;
  border-bottom: 1px solid #ffffff;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}
body .wrapper .container .letter .upper .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 100%;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
body .wrapper .container .letter .upper .front {
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 100%;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
body .wrapper .container .letter .upper .front:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: -webkit-repeating-linear-gradient(45deg, #FFB6C1, #FFB6C1 5px, #ffffff 5px, #ffffff 10px, #87CEFA 10px, #87CEFA 15px, #ffffff 15px, #ffffff 15px);
  background: repeating-linear-gradient(45deg, #FFB6C1, #FFB6C1 5px, #ffffff 5px, #ffffff 10px, #87CEFA 10px, #87CEFA 15px, #ffffff 15px, #ffffff 15px);
}
body .wrapper .container .letter .upper h1 {
  color: #FFB6C1;
  font-family: head;
  padding: 0px 20px;
  margin-bottom: 0px;
  line-height: 1;
  font-size: 20px;
}
body .wrapper .container .letter .upper p {
  padding: 0px 35px;
  margin-top: 0px;
  color: #87CEFA;
  font-weight: 800;
  font-size: 1.2em;
}
body .wrapper svg {
  max-width: 100%;
  position: relative;
  z-index: 0;
  bottom: 0;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.25);
}
